.mainbox {
    margin: auto;
    height: 600px;
    width: 600px;
    position: relative;
  }
  
    .err {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 20%;
      top: 8%;
    }
  
   .err2 {
      color: #ffffff;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 11rem;
      position:absolute;
      left: 68%;
      top: 8%;
    }

    .err3 {
        color: #ffffff;
        font-family: 'Nunito Sans', sans-serif;
        font-size: 3.5rem;
        position:absolute;
        left: 34%;
        top: 16%;
      }
  
  .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position:absolute;
      left: 16%;
      top: 45%;
      width: 75%;
    }
  
  a {
    text-decoration: none;
    color: #0d6efd;
  }
  
  a:hover {
    /* text-decoration: underline; */
    color: #0088a9;
  }