<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<nav>
  <div class="home">
    <button id="homeButton" class="button" [routerLink]="['/goals']"><i class="fa fa-home" style="color: rgb(106, 32, 32)"></i> Home</button>
  </div>
  <div>
    <button id="addButton" class="button" [routerLink]="['/add']"><i class="fa fa-plus" style="color: rgb(106, 32, 32)"></i> Add Goals</button>
  </div>
  <div>
    <button class="signoutButton" [routerLink]="['/login']"> <i class="fa fa-sign-out"></i></button>
  </div>
</nav>
<h1 id="text">SPYGLASS <i class="fa fa-handshake-o" style="font-size:35px;color:(238, 136, 2)"></i></h1>

<footer>
  <div class="footer-content">
      <h3>SPYGLASS</h3>
      <p>Follow us</p>
      <ul class="socials">
        <li><a href="https://www.facebook.com/Vanguard/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/Vanguard_Group" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.linkedin.com/company/vanguard/" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
        <li><a href="https://www.instagram.com/vanguardgroup/?hl=en" target="_blank"><i class="fa fa-instagram"></i></a></li>
        
      </ul>
  </div>
  <div class="footer-bottom">
      <p>copyright &copy;2022 SPYGLASS. designed by <span>SPYGLASS</span></p>
  </div>
</footer>
